@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

.products {
  grid-row: 3/4;
  grid-column: 2/3;
  align-items: start;
  background-image: url(./prod.svg);
  background-repeat: no-repeat;
  background-position: bottom 10%;
  overflow: hidden;
  margin-top: 6.5rem;
  padding-bottom: 8rem;

  &__header {
    font-weight: 700;
    font-size: 5rem;
    line-height: 7rem;

    &_mb {
      margin-bottom: 2.6rem!important;
    }
  }

  &__text {
    font-weight: 400;
    font-size: 2rem;
    line-height: 3rem;
    margin-bottom: 2.6rem;
  }

  &__carousel {
    list-style: none;
    margin-top: 6rem;

    &_block {
      padding: 0 10rem;
      border: none;
      outline: none;
    }

    &_inner {
      cursor: pointer;
      position: relative;
      z-index: 9;
      text-decoration: none;
      color: inherit;
      margin: 1rem 0 2rem;
      display: flex;
    }

    &_item {
      flex: 1 1;
      transition: all .2s;
      background-image: linear-gradient(90deg,hsla(0,0%,76.9%,.3) 0,hsla(0,0%,76.9%,.3) 100%,#fff 101%,#fff 200%) !important;
      background-repeat: no-repeat;
      background-color: #fff;
      background-size: 0;
      min-width: 35rem;
      min-height: 35rem;
      padding: 3rem;
      display: grid;
      grid-template-columns: 1fr;
      box-shadow: -1px 9px 18px -3px rgb(0 0 0 / 35%);

      &:hover {
        background-size: 100% !important;
      }
    }

    &_logo {
      align-self: center;
      width: 23rem;
    }

    &_descr {
      align-self: end;
    }

    &_text {
      min-height: 5rem;
      margin-top: 1.5rem;
      font-size: 1.5rem;
      font-weight: 300;
      line-height: 2rem;
    }
  }

  .slick-prev {
  left: 1rem!important;
  z-index: 99;
  }

  .slick-next {
    right: 1rem!important;
    z-index: 99;
  }

  .slick-prev:before {
    opacity: .75!important;
    color: rgba(0,0,0,.75)!important;
  }

  .slick-next:before {
    opacity: .75!important;
    color: rgba(0,0,0,.75)!important;
  }
}

