.container {
  display: grid;
  grid-template-columns: 1fr 120rem 1fr;
  grid-template-rows: 8rem repeat(7,max-content);
  align-content: start;
  overflow: hidden;
  align-items: start;
  position: relative;
}