.team {
  grid-row: 4/5;
  grid-column: 1/-1;
  background-color: #1f1f1f;
  min-height: 0;
  min-width: 0;

  &__text_container {
    align-items: start;
    display: grid;
    grid-template-columns: 1fr 50rem 50rem 1fr;
    height: 70rem;
    column-gap: 5rem
  }

  &__header {
    font-weight: 900;
    font-size: 5rem;
    line-height: 7rem;

    &_white {
      color: #fff;
    }

    &_mb {
      margin-bottom: 2.6rem!important;
    }
  }

  &__text {
    padding: 3rem 5rem 7rem 0;
    grid-column: 2/3;
  }

  &__text_image {
    display: none;
    width: 0;
  }

  &__descr {
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 2rem;
    margin-bottom: 2.6rem;

    &_text {
      font-weight: 400;
      font-size: 2rem;
      line-height: 3rem;
      margin-bottom: 2.6rem;
    }

    &_white {
      color: #fff;
    }

    &_mb-s {
      margin-bottom: 2.6rem!important;
    }

    &_mb {
      margin-bottom: 6rem !important;
    }
  }

  &__image_container {
    grid-column: 3/4;
    justify-self: end;
    align-self: center;
    height: 100%;
    padding: 0;
  }

  &__image {
    object-fit: cover;
    height: 100%;
    width: 100%;
    display: block;
  }

  .slick-dots {
    background-color: transparent;
    display: flex !important;
    position: absolute;
    left: calc(50% - 52.5rem);
    bottom: 3rem;
  }

  .slick-dots .slick-active {
    padding: 0;
    outline: none!important;
    border: 0.5rem solid silver!important;
    border-radius: 50%;
    transform: translateY(-0.5rem);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    top: -.1rem;
  }

  .slick-dots li:not(:last-child) {
    margin-right: 1.2rem;
  }

  .slick-dots li {
    list-style: none !important;
    outline: none!important;
    cursor: pointer;
    box-sizing: content-box;
  }

  .slick-dots button {
    cursor: pointer;
    width: 1.5rem;
    height: 1.5rem;
    outline: none!important;
    background-color: #fff;
    color: transparent;
    border: 0.1rem solid #fff;
    border-radius: 50%;
  }

  .slick-dots button::before {
    content: "";
  }
}

@media only screen and (max-width: 62.5em) {
  .team {
    &__text_container {
      grid-template-columns: 1fr 40rem 40rem 1fr;
      column-gap: 5rem;
      height: 70rem;
    }

    &__text {
      padding: 3rem 0;
    }

    .slick-dots {
      left: calc(50% - 42.5rem);
    }

    .slick-dots .slick-active {
      top: -.3rem;
    }
  }  
}

@media only screen and (max-width: 50em) {
  .team {
    &__text_container {
      grid-template-columns: 1rem 1fr 1fr 1rem;
      column-gap: 5rem;
      height: 80rem;
    }

    &__image {
      object-position: 40% 50%;
    }

    .slick-dots {
      left: 6rem;
    }
  }  
}

@media only screen and (max-width: 40.62em) {
  .team {
    &__text_container {
      grid-template-columns: 1rem 1fr 1fr 1rem;
      column-gap: 1rem;
      height: 85rem;
    }

    .slick-dots {
      left: 2rem;
      left: 50%;
      transform: translateX(-50%);
      justify-content: center;
    }
  }  
}

@media only screen and (max-width: 31.25em) {
  .team {
    &__text_container {
      grid-template-columns: 1rem 1fr 1rem;
      column-gap: 1rem;
      min-height: 70rem;
    }

    &__header {
      font-size: 4rem;
      line-height: 4rem;
    }

    &__text {
      padding-top: 3rem;
      padding-bottom: 0;
    }

    &__text_image {
      display: block;
      height: 10rem;
      width: 10rem;
      border-radius: 50%;
      object-fit: cover;
      object-position: 50% 30%;
      margin-bottom: 2rem;
    }

    &__image_container {
      grid-column: 2/3;
      justify-self: center;
      padding-bottom: 2rem;
      display: none;
    }
  }
}