.intro {
  display: flex;
  grid-column: 2/3;
  grid-row: 2/3;
  margin-top: 6.5rem;

  &__header {
    font-weight: 900;
    font-size: 5rem;
    line-height: 7rem;

    &_mb {
      margin-bottom: 6rem!important;
    }
  }

  &__text {
    font-weight: 400;
    font-size: 2rem;
    line-height: 3rem;
    margin-bottom: 2.6rem;

    &_mb {
      margin-bottom: 2.6rem!important;
    }
  }

  &__btn_container {
      display: flex;
      justify-content: flex-end;
      margin-top: 5rem;
    }

  &__btn {
    position: relative;
    bottom: 0;
    right: 0;
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 2.3rem;
    border-bottom: 0.1rem solid #282828;
    padding: 1.5rem 5rem;
    text-decoration: none;
    color: #282828;
  }

  &__arrow {
    transition: all .2s;
    position: absolute;
    right: 1rem;
    top: 50%;
    transform: translateY(-50%);    
  }

  &__btn:hover .intro__arrow {
    transform: translate(1rem,-50%);
  }
}

@media only screen and (max-width: 62.5em) {
  .intro__right {
    display: none;
  }
}

@media only screen and (max-width: 31.25em) {
  .intro__header {
    font-size: 4rem;
    line-height: 4rem;
  }
}