@import url('https://db.onlinewebfonts.com/c/d1a580023d40c546276decde1c711e60?family=Suisse+Intl');
@import url('https://db.onlinewebfonts.com/c/88f10bf18a36407ef36bf30bc25a3618?family=Suisse+Intl');

html {
  font-size: 62.5%;
}

body {
  font-family: 'Suisse intl' , sans-serif;
}

*, :after, :before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    z-index: 2;
}

@media only screen and (max-width: 77.5em) {
  html {
    font-size: 50%;
  }
}